*.aux
*.chi
*.chs.h
*.dyn_hi
*.dyn_o
*.hi
*.hp
*.imports
*.liquid
*.log
*.o
*.out
*.prof
*.swp
*.tag
*_flymake.hs
*~
.cabal-sandbox/
.hpc
.#*
.hsenv
.stack-work/
.vagrant/
/*.iml
/.cabal-sandbox/
/.idea/
/.stack-work
/_release/
TAGS
cabal-dev/
cabal.sandbox.config
dist/
dist-newstyle/
tags
*.kdev4
/cabal.project.local
xmonad.errors
xmonad.state
xmonad-x86_64-linux
prompt-history
